<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ecom_aspNetCoreMvc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="~/css/styleEcom.css" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecom</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Nos bières</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Contact</a>
                        </li>
                        @if (ViewBag.UserName == "Admin")
                        {
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Admin">Admin<span class="sr-only">(current)</span></a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="Login" class="nav-link">S'inscrire</a>
                        </li>
                        @if (ViewBag.logged == true && ViewBag.UserName != "Admin")
                        {
                            <li>
                                <button type="button" class="btn btn-primary">
                                    Panier <span class="badge badge-light">4</span>
                                </button>
                            </li>
                        }
                    </ul>
                </div>
                <div id="connect">
                    @if (ViewBag.Logged == true)
                    {
                        <form asp-controller="User" asp-action="LogOut" class="form-inline my-2 my-lg-0">
                            <label class="mr-2"><strong>Welcome @ViewBag.UserName</strong></label>
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Se déconnecter</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="User" asp-action="LoginPost" class="form-inline my-2 my-lg-0">
                            <input name="Email" class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Search">
                            <input name="Password" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Se connecter</button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2020 - ecom_aspNetCoreMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
