@{
    ViewData["Title"] = "Home Page";
}

@model List<Article>;

<section class="index">
    <div>
        <h1>Test</h1>
    </div>
    <div class="container mt-5">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center" data-interval="10000">
                    <img src="~/images/pompes.jpg" height="500" class="" alt="...">
                </div>

                @foreach (Article a in Model)
                {
                    <div class="carousel-item text-center" data-interval="10000">
                        <img src="@a.UrlImage" height="500" class="" alt="...">
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
